<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/add_tweet">
        <label>Title*</label>
                <div class="input-group">
                 <input type="text"  name="title" minlength="4">
                </div>
        <label>text*</label>
            <div class="input-group">
                <input type="type"  name="text" maxlength="280">

            </div>   
        <input type="submit" value="add tweet"> </form>     

    </form>   


</body>
</html>